<%= form_with model: @user, url: user_registration_path, id: 'new_user', class: 'new_user', local: true do |f| %>

<div class="row">

  <%= render "devise/shared/error_messages", resource: resource %>

  <div class="col-lg-4 offset-lg-4">

  <div class="text-center">
    <h1>Sign up</h1>
  </div>

    <div class="field form-group">
      <%= f.label :name %><br />
      <%= f.text_field :name, autofocus: true, autocomplete: "name" , class: 'form-control' %>
    </div>
  
    <div class="field form-group">
      <%= f.label :email %><br />
      <%= f.email_field :email, autofocus: true, autocomplete: "email", class: 'form-control' %>
    </div>
  
    <div class="field form-group">
      <%= f.label :profile %><br />
      <%= f.text_area :profile, autofocus: true, autocomplete: "profile",rows:5, class: 'form-control' %>
    </div>

    <div class ="field form-group">
      <%= f.label :image %><br>
      <button type="button" class="btn">
       <%= f.file_field :image, accept: 'image/jpeg,image/jpg,image/png' %>
       <%= f.hidden_field :image_cache %>
      </button>
    </div>

    <div class="field form-group">
      <%= f.label :password %>
      <% if @minimum_password_length %>
      <em>(<%= @minimum_password_length %> characters minimum)</em>
      <% end %><br />
      <%= f.password_field :password, autocomplete: "new-password", class: 'form-control' %>
    </div>
  
    <div class="field form-group">
      <%= f.label :password_confirmation %><br />
      <%= f.password_field :password_confirmation, autocomplete: "new-password", class: 'form-control' %>
    </div><br>


    <br><br>

      <div class="row text-center">
        <div class="col-sm-6">
          <%= link_to "Cancel",new_user_registration_path, class: 'btn btn-block btn-secondary' %>
        </div>
        <div class="actions col-sm-6">
          <%= f.submit "Create account", class: 'btn btn-block btn-primary' %>
        </div>
      </div>
    </div>
  <% end %>
</div>      



<!--<%= render "devise/shared/links" %>-->
