<ul class="list-unstyled">
  <% users.each do |user| %>
    <li class="media">
      <p class="users-profile">
        <% unless user.image? %>
          <%= image_tag 'no_image.png', width:100 %>
        <% else %>  
          <%= image_tag user.image.to_s, width:100 %>
        <% end %>
      </p>
      <div class="media-body ml-3">
        <div>
          <p><%= link_to user.name, user_path(user) %></p>
        </div>
        <div>
          <p><%= user.profile %></p>
        </div>
      </div>
    </li>
  <% end %>
</ul>
<%= paginate users %>