<div class="row">
  <aside class="col-lg-4">
    <div class="media">
      <div class="mr-4">
        <% unless @user.image? %>
          <%= image_tag 'no_image.png',width: 150 %>
        <% else %>  
          <%= image_tag @user.image.url,width: 150 %>
        <% end %>
      </div>
      <div class="media-body">
        <h3><%= @user.name %></h3>
        <div>
          <%= @user.profile %>
        </div>
      </div>
    </div>
    <br>
    <div>
      <%= render 'edit_user_button', user: @users %>
      <%= render 'relationships/follow_button', user: @user %>
    </div>
  </aside>
  <div class="col-lg-8">
    <ul class="nav nav-tabs nav-justified mb-3">
      <li class="nav-item"><a href="<%= user_path(@user) %>" class="nav-link <%= 'active' if current_page?(user_path(@user)) %>">Posts  <span class="badge badge-secondary"><%= @count_posts %></span></a></li>
      <li class="nav-item"><a href="<%= followings_user_path(@user) %>" class="nav-link <%= 'active' if current_page?(followings_user_path(@user)) %>">Followings  <span class="badge badge-secondary"><%= @count_followings %></span></a></li>
      <li class="nav-item"><a href="<%= followers_user_path(@user) %>" class="nav-link <%= 'active' if current_page?(followers_user_path(@user)) %>">Followers  <span class="badge badge-secondary"><%= @count_followers %></span></a></li>
      <li class="nav-item"><a href="<%= likes_user_path(@user) %>" class="nav-link <%= 'active' if current_page?(likes_user_path(@user)) %>">Likes  <span class="badge badge-secondary"><%= @count_likes %></span></a></li>
    </ul>
    <%= render 'posts/posts', posts: @likes %>
  </div>
</div>