<h2 class="text-center">Search</h2>
<div class="col-lg-6 offset-lg-3">
  <ul class="nav nav-tabs nav-justified mb-3">
    <li class="nav-item"><a href="<%= searchprofile_users_path %>" class="nav-link <%= 'active' if current_page?(searchprofile_users_path) %>">Profile</a></li>
    <li class="nav-item"><a href="<%= searchcontent_posts_path %>" class="nav-link <%= 'active' if current_page?(searchcontent_posts_path) %>">Content</a></li>
    <li class="nav-item"><a href="<%= searchweight_posts_path %>" class="nav-link <%= 'active' if current_page?(searchweight_posts_path) %>">Weight</a></li>
  </ul>
</div>


<div class="row">
  <div class="col-lg-6 offset-lg-3">
    <%= search_form_for @q, enforce_utf8:false, url: searchprofile_users_path do |f| %>
      <div class="form-group">
        <%= f.label :profile_cont, "Search by Profile" %>
        <%= f.search_field :profile_cont, class: "form-control" %>
      </div>
      <div class="actions"><%= f.submit "Search",class: "btn btn-block btn-primary" %></div>
    <% end %>
    <br>
    <%= render 'users/users', users: @users %>
  </div>
</div>