<div class="text-center">
  <% if user_signed_in? %>
    <div class="row">
      <aside class="col-sm-4">
        <%= form_with(model: @post, local: true) do |f| %>
          <%= render 'layouts/error_messages', model: f.object %>
          <div class="form-group">
            <%= f.text_area :content, placeholder: 'content', class: 'form-control', rows: 5 %>
            <%= f.text_field :weight, placeholder: 'weight(kg)', class: 'form-control' %>
            <%= f.file_field :image, class: 'form-control' %>
          </div>
          <%= f.submit 'Post', class: 'btn btn-primary btn-block' %>
        <% end %>
      </aside>
      <div class="col-sm-8">
        <%= render 'posts/posts', posts: @posts %>
      </div>
    </div>
  <% else %>
  <h1>Dietter</h1>
  <div class="image-diet">
    <%= image_tag 'image_diet.jpg' %>
  </div>
  <br>
  <%= link_to 'Sign up', new_user_registration_path, class: 'btn btn-lg btn-primary' %>
  <%= link_to 'Log in', user_session_path, class: 'btn btn-lg btn-secondary' %>
  <% end %>
</div>
