<ul class="list-unstyled">
  <% posts.each do |post| %>
    <li class="media mt-3 mb-3 pr-3">
      <% if post.image? %>
          <%= image_tag post.image.url, width:100 %>
      <% else %>  
          <%= image_tag 'no_image.png', width:100 %>
      <% end %>
      <div class="media-body text-left ml-3">
        <div>
          <%= link_to post.user.name, user_path(post.user) %> <span class="">posted at <%= post.created_at %></span>
        </div>
        <div>
          <p><%= post.content %></p>
          <p>weight:<%= post.weight %>kg</p>
        </div>
        <div>
          <% if current_user == post.user %>
            <%= link_to "Delete", post, method: :delete, data: { confirm: "You sure?" }, class: 'btn btn-danger btn-sm' %>
          <% end %>
        </div>
      </div>
    </li>
  <% end %>
  <%= paginate posts %>
</ul>