<h2 class="text-center">Search</h2>
<div class="col-lg-6 offset-lg-3">
  <ul class="nav nav-tabs nav-justified mb-3">
    <li class="nav-item"><a href="<%= searchprofile_users_path %>" class="nav-link <%= 'active' if current_page?(searchprofile_users_path)%>">Profile</a></li>
    <li class="nav-item"><a href="<%= searchcontent_posts_path %>" class="nav-link <%= 'active' if current_page?(searchcontent_posts_path)%>">Content</a></li>
    <li class="nav-item"><a href="#" class="nav-link">Weight</a></li>
  </ul>
</div>


<div class="row">
  <div class="col-lg-6 offset-lg-3">
    <%= search_form_for @q, enforce_utf8:false, url: searchcontent_posts_path do |f| %>
      <div class="form-group">
        <%= f.label :content_cont, "Search by Content" %>
        <%= f.search_field :content_cont, class: "form-control" %>
      </div>
      <div class="actions"><%= f.submit "Search",class: "btn btn-block btn-primary" %></div>
    <% end %>
    <br>
      <ul class="list-unstyled">
        <% @posts.each do |post| %>
          <li class="media mt-3 mb-3 pr-3">
            <% if post.image? %>
                <%= image_tag post.image.url, width:100 %>
            <% else %>  
                <%= image_tag 'no_image.png', width:100 %>
            <% end %>
            <div class="media-body text-left ml-3">
              <div>
                <%= link_to post.user.name, user_path(post.user) %> <span class="">posted at <%= post.created_at %></span>
              </div>
              <div>
                <p><%= link_to post.content, post %></p>
                <p>weight:<%= post.weight %>kg</p>
              </div>
              <div class="row">
                <div class="col-2">
                  <% if current_user == post.user %>
                    <%= link_to "Delete", post, method: :delete, data: { confirm: "You sure?" }, class: 'btn btn-danger btn-sm' %>
                  <% end %>
                </div>
                <div class="col-2">
                  <%= render 'favorites/like_button', post: post %>
                </div>
              </div>
            </div>
          </li>
        <% end %>
        <%= paginate @posts %>
      </ul>
    </div>
</div>